<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="healthcare.demand.H2O_Admin"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>
    <uses-permission  android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="HA_login"
                  android:label="@string/app_name"
                    android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--android:windowSoftInputMode="adjustNothing"-->
        <activity android:name=".HA_monitor" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".HA_appCnt" android:screenOrientation="landscape" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".HA_send_all" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"/>

    </application>
</manifest>
